*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;color: #000;}
body{font-family:'바른공군체';
    line-height: 24px;
    font-size: 14px;
    color: #000;
    }

/*header1*/
#header1{width: 100%; background:rgb(184, 104, 104); height: 170px; }
.header1_inner{width: 1320px;margin: 0 auto;}
.header1_inner img{padding-top: 40px; }

.link1{float: right;}
.link1 li{float: left; padding-top: 20px;}
.link1 li a{color:#fff;margin-right: 10px;}
.link1 li a:hover{display: block; color:#f17575;}
           
.nav{position:absolute;/*자식*/
    top:100px; left:50%; margin-left:-428px;
}
.nav>li{float:left; position:relative;/*sub의 기준*/}
.nav>li>a{display:block; 
        font-size:30px;
        padding:23px 55px; color:#fff;
}
.nav>li>a:hover{color:#f17575;}

.sub{display:none; position:absolute; width:100%;
    z-index: 2;
}
.sub li a{display:block;
    background: #b86868;
    padding:20px 0; text-align: center;
    color:#fff; font-size:20px; font-family: '바른공군체';
    border-top:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.sub li a:hover {background-color: #cc9393;}
.nav li:hover .sub{display:block;}


/*banner*/
#banner{width:100%; 
    background: url(images/franchisepng.png)no-repeat center top;
    text-align: center;
    animation:img 10s linear infinite; display: block;
}


@keyframes img{
    33%{background: url(images/mainbanner_1.jpg)no-repeat center top;}
    66%{background: url(images/mainbanner2.jpg)no-repeat center top;}
    100%{background: url(images/mainbanner3.jpg)no-repeat center top;}}

/*wrap*/
#wrap1{width:100%; height:1107px;
   background: url(images/bg.jpg)no-repeat center top;
}


/*con1*/
#con1{width:1320px; 
    background: url(images/bg1.jpg)no-repeat center top;
     height: 208px;
margin:  auto; }
#con1 ul li{float: left; width: 33.3%; padding-top: 60px; box-sizing: border-box;text-align: center;
padding-bottom:50px;font-size:20px; font-family:'Noto Sans CJK'; font-weight:bold;} 
#con1 .title{font-weight:bold; font-size:30px;padding-bottom:20px;}


/*benefit*/
#benefit{width:1320px; margin: 0 auto;background: url(images/benefitbg.jpg)no-repeat center top; height: 540px;
text-align: center; overflow:hidden;}
#benefit h1{color: #fff;
     background:url(images/benefitop.png)no-repeat center top;
    padding:50px 0 70px 0; font-size: 25px; line-height: 30px;}
#benefit img{text-align: center; margin-bottom: 10px;}
.name{padding-bottom:10px; font-size:24px; }
.benefit_text li{float: left; width:254px; height:250px;
     margin-right: 50px;
                background:rgba(0,0,0,0.6);
             
                margin: 40px 93px;
                padding:50px; box-sizing: border-box;
            }
.benefit_text p{color: #fff; text-align: center;}

#banner2{width:1320px; margin: 0 auto;}


/*warp2*/

#wrap2{width:100%; background: url(images/bg2.jpg)no-repeat center top; height: 1358px; }
/*menu*/
.menupasta{width:1320px; margin:0 auto; height:792px;}
/* .menupasta{
width: 1320px; height: 782px; margin: 0 auto; padding-top: 20px; display: block;}
.menupasta img{height: 577px;margin-top:100px ; padding-left: 150px;} */

/*sns*/


.sns{background: url(images/snsbg.png) no-repeat center top;width: 1320px;
     margin: 0 auto; height: 567px;
text-align: center; display: block;}
.sns h1{padding:80px;}

.snsimg{width:100%; }

.snsimg li{float: left;  box-sizing: border-box; width: 291px; height: 324px;
     margin-right:52px;
    overflow: hidden;}
    
.snsimg li:last-child{margin-right:0;}


.snsimg li a:hover img{transform:scale(1.2,1.2);}
.snsimg li img{transition:all 1s;}

/* 
.sns1{margin-right:50px;}
.sns2{margin-right: 50px;}
.sns3{margin-right: 52px;} */

/* ul li{float:left; width:300px; height:200px;
	margin:10px; overflow: hidden;} */

/* ul li img{transition:all 1s;} */
/* .caption{display:none;} */

/* .snsimg li a:hover img{transform:scale(1.2,1.2);
    transition:all 1s;
} */

/*footer*/
#footer{width: 100%; height: 200px;background: rgb(184 104 104);}
.foote_inner{width: 1320px; margin: 0 auto; }


.f_ul{color: #fff; padding-top: 30px; float: left; font-family:'바른공군체';}
.foote_inner .img{float: left; padding: 80px 0 0 200px;}
.right{float: right;}
.right p{color: #fff; padding-top: 50px;}


.f_u2 li{float: left; margin-right: 20px;}
.f_u2 li a{color: #fff;}

.f_u2{padding-top: 30px;} 













